<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASPG_Software_Project.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ASPG_Software_Project.My.MySettings>
            <setting name="useFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="useVisitorCapacity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visitorCapacity" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="conStrgServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="conStrgUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="conStrgPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="conStrgDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="displaySeconds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tempAdjustment" serializeAs="String">
                <value>0.00</value>
            </setting>
            <setting name="tempFeverVal" serializeAs="String">
                <value>38.00</value>
            </setting>
            <setting name="passwordExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="passwordDataView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="passwordSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoRecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoRecordCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sanitizerDuration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="deactivateSanitizer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoConnectDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tempMaxd" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="tempMind" serializeAs="String">
                <value>1.5</value>
            </setting>
        </ASPG_Software_Project.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
